body {
    border: 10px black;
    text-align: center;
  }


.container{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    flex-direction: row;
}

a {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }
  
  